*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore SBT project-specific cache directory
target
project/target
project/project/target

#Intellij
*.iml
.idea
.bsp

#VS Code,
.vscode

#Metals
.bloop
project/.bloop
project/metals.sbt
project/project